﻿@inherits ModelWebViewPage<TUser>
@{
    ViewBag.Title = "CadastrarUsuarioEmpresa";
    Layout = "";
}

<h2>Cadastrar usuario empresa</h2>
@using (Html.BeginForm(MVC.Empresas.CadastrarUsuarioEmpresa(), FormMethod.Post))
{
    <div class="form-group">
        <label>Nome completo:</label>
        @this.TextBox(x => x.FullName)
    </div>

    <div class="form-group">
        <label>CPF:</label>
        @this.TextBox(x => x.Cpf)
    </div>

    <div class="form-group">
        <label>Senha:</label>
        @this.Password(x => x.PasswordString)
    </div>

    <button type="submit" class="btn btn-default">Cadastrar</button>
}