﻿@inherits ModelWebViewPage<TEnterprise>
@{
    ViewBag.Title = "CadastrarEmpresa";
    Layout = "";
    ModelSelectList<LineBusiness> areas = (ModelSelectList<LineBusiness>)ViewBag.areasNegocio;
}

<h2>CadastrarEmpresa</h2>

@using(Html.BeginForm(MVC.Empresas.CadastrarEmpresa(), FormMethod.Post))
{
<div class="form-group">
    <label>Nome da empresa:</label>
    @this.TextBox(x => x.Name)
</div>

<div class="form-group">
    <label>CNPJ:</label>
    @this.TextBox(x => x.Cnpj)
</div>

<div class="form-group">
    <label>CEP:</label>
    @this.TextBox(x => x.Cep)
</div>

<div class="form-group">
    <label>Telefone:</label>
    @this.TextBox(x => x.Phone)
</div>

<div class="form-group">
    <label>Área de negócio:</label>
    @this.AutoSelect(x => x.EnumLineBusiness).Options(areas)
</div>

<button type="submit" class="btn btn-default">Cadastrar</button>

}
