﻿@model List<TEnterprise>
@{
    Layout = "";
}

@if (Model.Any())
{
    foreach (var empresa in Model)
    {
        <p>@empresa.Name - @empresa.Token</p>
    }
}
else
{
    <p>Não há empresas cadastradas.</p>
}


